<form [formGroup]="form">
    <div class="profile-area" fxLayout="row">
        <div class="icon-area" fxFlex="20%">
            <!-- TODO: ユーザーアイコンを表示する -->
            <!-- <img class="icon" src="#"> -->
            <div class="icon"></div>
            <div class="select-picture">
                <button>画像を選択</button>
            </div>
        </div>
        <div class="forms" fxFlex="80%">
            <div class="name">
                <label>ユーザー名</label>
                <input type="text" formControlName="name">
            </div>
            <div class="introduction">
                <label>プロフィール</label>
                <textarea type="text-area" formControlName="introduction"></textarea>
            </div>
            <div class="buttons">
                <button (click)="updateUser()">編集内容を保存する</button>
                <button (click)="goBack()">戻る</button>
            </div>
        </div>
    </div>
</form>
