.header {
    background-color: #2aa04e;
    height: 50px;
}
.title {
    span {
        line-height: 50px;
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
    }
}
.link {
    a {
        line-height: 50px;
        color: #ffffff;
        text-decoration: none;
    }
}