<div class="header" fxLayout="row">
    <div class="title" fxFlex="80%">
        <span>Mimitter</span>
    </div>
    <div class="currentUser" fxFlex="10%">
        <a *ngIf="currentUser" (click)="directToUserProfile()">{{currentUser.name}}</a>
    </div>
    <div class="link" fxFlex="10%">
        <span *ngIf="!isLogined">
            <a routerLink="/login">ログイン</a>
        </span>
        <span *ngIf="isLogined" (click)="logout()">
            <a routerLink="/login">ログアウト</a>
        </span>
    </div>
</div>
