<div class="login-area">
    <div class="forms">
        <div class="email">
            <label>メールアドレス</label>
            <input type="text">
        </div>
        <div class="password">
            <label>パスワード</label>
            <input type="password">
        </div>
    </div>
    <div class="button">
        <button type="sumbit" class="submit" (click)="login()">ログイン</button>
    </div>
</div>
<div class="other-links-area">
    <div class="to-register">
        <a href="#">ユーザー登録</a>
    </div>
</div>