<h2>ユーザー登録</h2>
<form [formGroup]="form">
    <div class="login-area">
        <div class="forms">
            <div class="name">
                <label>ユーザー名</label>
                <input type="text" formControlName="name">
            </div>
            <div class="email">
                <label>メールアドレス</label>
                <input type="text" formControlName="email">
            </div>
            <div class="password">
                <label>パスワード</label>
                <input type="password" formControlName="password">
            </div>
            <div class="password">
                <label>パスワード（確認）</label>
                <input type="password" formControlName="passwordConfirmation">
            </div>
        </div>
        <div class="button">
            <button type="sumbit" class="submit" (click)="signup()">登録</button>
        </div>
    </div>
</form>
