.profile-area {
    width: 50vw;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: #c0c0c0 1px solid;
    border-radius: 5px;
}
.icon-area {
    height: 100%;
}
img {
    width: 120px;
    height: 120px;
    margin: 10px;
}
div.name {
    height: 30px;
    span {
        font-size: 25px;
    }
}
div.profile-content {
    height: auto;
    span {
        font-size: 15px;
    }
}
div.register-date {
    height: 30px;
    line-height: 30px;
    span {
        color: #858585;
        font-size: 15px;
    }
}
div.other-info {
    height: 30px;
    line-height: 30px;
    span {
        font-size: 15px;
    }
}
div.edit-button {
    height: 30px;
    text-align: right;
    line-height: 30px;;
}
div.follow-button {
    height: 30px;
    text-align: right;
    line-height: 30px;
    button:last-child {
        margin-left: 5px;
    }
}
button:hover {
    cursor: pointer;
}
.content-area {
    padding: 10px;
}
.time-line {
    margin-left: 20px;
}
table {
    padding-left: 0;
}
td.post {
    width: 50vw;
    list-style: none;
    margin-top: 3px;
    background-color: #e7fadc;
    border-radius: 5px;
    &.current {
        background-color: #dce3fa;
    }
    div.icon-area {
        text-align: center;
        margin-top: 1%;
        img {
            width: 80px;
            height: 80px;
            margin: 0;
            border-radius: 3px;
        }
    }
    div.content-area {
        padding: 3px;
        a.user-name {
            font-size: 17px;
        }
        p.sentences {
            margin: 0;
            padding-left: 10px;
            font-size: 15px;
        }
        p.post-footer {
            margin-top: 0;
            margin-bottom: 2px;
            padding-left: 10px;
            height: 20%;
            vertical-align: middle;
            font-size: 13px;
            color: #858585;
            text-align: right;
        }
    }
    p.date {
        margin-top: 10;
        margin-bottom: 2px;
        padding-left: 10px;
        height: 20%;
        vertical-align: middle;
        font-size: 13px;
        color: #858585;
        text-align: left;
    }
}
