/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Dialog styles of Angulae Material */
.mat-dialog-container {
    background-color: #ffffff;
    color: #000000;
}